.main{
  border: 2px solid blue;
  padding: 2%;
  display: flex;
  flex-direction: row;
  background-color: black;
}
h2{
  color: green;
}
h4{
  color: blue;
}
a{
  color: brown;
  font-size: 20px;
  word-wrap: break-word;
}
.left{
  border: 2px solid green;
  padding: 2%;
  margin: 2%;
  width:90%;
  text-align: center;
  background-color: skyblue;
}
.right{
  border: 2px solid yellow;
  padding: 2%;
  margin: 2%;
  width:90%;
  background-color: lightyellow;
}
@media only screen and (min-width: 320px) and (max-width: 480px){
  .main{
    border: 2px solid blue;
    padding: 2%;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  h2{
    color: green;
  }
  h4{
    color: blue;
  }
  a{
    color: brown;
    font-size: 20px;
    word-wrap: break-word;
  }
  .left{
    border: 2px solid green;
    padding: 2%;
    margin: 2%;
    width:70%;
    text-align: center;
  }
  .right{
    border: 2px solid yellow;
    padding: 2%;
    margin: 2%;
    width:70%;
  }
}
#name{
  color: blue;
  font-size: 30px;
  text-align: center;
}
.table1{
  width: 90%;
  overflow: auto;
}
.left img{
  width: 50%;
  border-radius: 80%;
  border: 2px solid green;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
